</div>
<!-- <div class="footer-padding"></div>
<div class="footer"> -->

<!-- This will create the contact us section -->
<section class="contact">
  <div class="wrapper">
    <div class="left">
      <!-- <h1 class="section_heading">Contact</h1> -->
      <div>
        <div>
          <i class="uil uil-phone-volume"></i>
        </div>
        <div>
          <h4>Free Call To Me:</h4>
          <span>(+91) 1234567890</span>
        </div>
      </div>

      <div>
        <div>
          <i class="uil uil-envelope"></i>
        </div>
        <div>
          <h4>Mail Me:</h4>
          <span>yourmail@gmail.com</span>
        </div>
      </div>

      <div>
        <div>
          <i class="uil uil-map-marker"></i>
        </div>
        <div>
          <h4>Find Me:</h4>
          <span>Your Location</span>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="follow">
        <h1>Follow Us</h1>
        <ul class="socials">
          <li>
            <a href="#">
              <i class="uil uil-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- </div>
</div> -->

<!-- <footer class="container">
  <span>© 2021, All rights reserved</span>
</footer> -->
</body>

</html>