/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
} */

/* FOR HEADER SECTION(NAVIGATION BAR) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    padding-top: 5px;
    /* padding-bottom: 15px; */
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #456d96;
    height: 100px;
}

.navbar .nav-container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.links {
    padding-top: 35px;
    letter-spacing: 3px;
    display: flex;
}

.logo {
    width: 85px;
    height: 65px;
    image-rendering: optimizeQuality;
    image-resolution: 1000;
    border-radius: 25px;
}

nav ul {
    display: flex;
    margin-right: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #1abc9c;
}

.navbar .button a {
    text-decoration: none;
    background-color: #fff;
    color: #456d96;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 17px;
}

.navbar .button a:hover {
    background-color: #1a1a1a;
    transition: 0.25s ease-in;
}


.container {
    padding-top: 40px;
}



/* .footer-padding {
    padding-bottom: 60px;
}

.footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 162px;
    background-color: #121212;
} */

/*.footer p {
    margin-top: 25px;
    font-size: 12px;
    color: #fff;
}*/


/* FOR CONTACT US FORM */

.form-container {
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

.topBar {
    display: flex;
    flex-direction: column-reverse;
    margin: 1.2rem 0;
}

.login-form {
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* color: #fff; */
}

.login-form h1 {
    /* font-size: 40px; */
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
}

/* .login-form p {
    font-size: 20px;
    margin: 5px 0;
} */

.login-form input {
    font-size: 16px;
    width: 100%;
    padding: 7px 5px;
    /* border: 0; */
    outline: none;
    border-radius: 5px;
}

.login-form button {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    padding: 7px 5px;
    width: 30%;
    border-radius: 5px;
    /* border: 0; */
}

.login-form button:hover {
    background-color: #1abc9c;
}


/* This will create the footer section */
section.contact .wrapper {
    text-align: center;
    width: 100%;
    height: 162px;
    background-color: #121212;
    bottom: 0;
    position: absolute;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-left: 150px;
    grid-gap: 40px;
    margin-top: 40px;
    align-items: center;
}

section.contact .wrapper .left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section.contact .wrapper .left>div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

section.contact .wrapper .left>div div:nth-child(1) {
    margin-right: 10px;
}

section.contact .wrapper .left i {
    font-size: 30px;
    color: #4d79f6;
}

section.contact .wrapper .left h4 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

section.contact .wrapper .left {
    color: #848db3;
}

section.contact .wrapper .left h4+span {
    font-weight: 100;
    font-size: 14px;
}

section.contact .wrapper .right .follow {
    display: grid;
    grid-template-columns: 0.35fr 0.5fr;
    grid-gap: 30px;
    align-items: center;
    margin-bottom: 14px;
}


section.contact .right ul.contact li i {
    font-size: 18px;
    margin-right: 0.3rem;
}

section.contact .right ul.socials {
    display: flex;
    align-items: center;
    list-style: none;
}

section.contact .right ul.socials li {
    margin-right: 0.8rem;
}

section.contact .right ul.socials li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #eff2f9;
    /* for vertically centering the icons */
    line-height: 36px;
    /* for horizontally centering the icons */
    text-align: center;
}

section.contact .right ul.socials li:nth-child(1) a {
    background: #2b55cc;
}

section.contact .right ul.socials li:nth-child(2) a {
    background: #4ac7ec;
}

section.contact .right ul.socials li:nth-child(3) a {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

footer.fcontainer {
    bottom: 0;
    text-align: center;
    margin-top: 50px;
    background-color: lightgray;
}

span.copyright {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bold;
}